@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

h1 {
  font-size: 24px;
}

.TransactionPage{
  display: grid;
  grid-template-rows: 20% 80%;
}

.TransactionPageBanner{
  grid-row: 1;
}

.TransactionPageDataPrevisual{
  grid-row: 1;
}

.DataPreVisualStyle{
  margin-top: 10%;
  background-color: aliceblue;
  display: flex;
  align-items: center;
}